<h4>My Contact List.</h4>
<hr />
<div>
    <p>
        This gives you features of maintaining your love ones contact informaton.
    </p>
    <p>
        Comming soon->
        <br />
        <ul class="alert-info">
            <li>Sync with mobile contact</li>
            <li>Birthday Reminder</li>
        </ul>
    </p>
    <br />
</div>
